<div>
<h1>{{ section.settings.textttid }}}</h1>
</div>
{% schema %}
  {
    "name": "newexte",
    "tag": "section",
    "class": "",
    "settings": [
      {
          "type": "text",
          "id": "textttid",
          "label": "heading"
        },
    }
    ],
    "presets": [
      {
        "name": "newexte",
        "settings": {
        }
      }
    ]
  }
{% endschema %} 