<div>
<h1>{{ section.settings.textttid }}</h1>
<p>{{ section.settings.textttid }}</p>
</div>
{% schema %}
  {
    "name": "newexte",
    "tag": "section",
    "settings": [
      {
          "type": "text",
          "id": "textttid",
          "label": "heading"
        },
        {
          "type": "text",
          "id": "textt222",
          "label": "description"
        },
    
    ],
    "presets": [
      {
        "name": "newexte",
        "settings": {   
        }
      }
    ]
  }
{% endschema %} 